@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ var groups = ViewData["Groups"] as List<MailBox.Models.GroupModels.GroupView>; }

<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/groups.js"></script>
</head>
<body>
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Folders</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">Inbox</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Sent</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Spam</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Stared</button></div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder=" New folder..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
                <div><br /></div>
                <div class="container-title">
                    <h4>Actions</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">New email</button></div>
                    <div class="button-container"><button onclick="GoToGroupManagement()" type="button" class="btn-folder">Manage groups</button></div>
                </div>
            </div>
            <div class="col-8 no-float bg-dark-transparent">
                <div class="col-12 no-float bg-dark-transparent container-fluid text-white">
                    <div class="row no-gutters container-title">
                        <div class="col-12">
                            <h4>Groups</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="container-groups overflow-auto">
                        @foreach (var g in groups)
                        {
                            <div class="container-group no-gutters">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        <h5>@g.Name</h5>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-3">
                                        <input id="NewGroupName-@g.GroupID" type="text" class="form-control input-new_folder" value="@g.Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    </div>
                                    <div class="col-2">
                                        <button onclick="ChangeGroupName(document.getElementById('NewGroupName-@g.GroupID').value, @g.GroupID)" class="add-button">change name</button>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-1">
                                        <button onclick="DeleteGroup(@g.GroupID)" class="delete-button">X</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="container-contacts overflow-auto">
                                    @foreach (var gm in g.GroupMembers)
                                    {
                                        <div class="container-group-elem">
                                                <div class="row no-gutters">
                                                    <div class="col-11 no-gutters">
                                                        <div class="row no-gutters">
                                                            <div class="col-3">
                                                                <span class="span-data">@gm.Name</span>
                                                            </div>
                                                            <div class="col-3">
                                                                <span class="span-data">@gm.Surname</span>
                                                            </div>
                                                            <div class="col-6">
                                                                <span id="@g.GroupID-@gm.Address" class="span-data">@gm.Address</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1 no-gutters">
                                                        <button onclick="DeleteUserFromGroup(document.getElementById('@g.GroupID-@gm.Address').textContent, @g.GroupID)" class="delete-button">X</button>
                                                    </div>
                                                </div>
                                        </div>
                                    }
                                </div>
                                    <div class="row no-gutters">
                                        <div class="col-8 no-gutters">
                                            <input id="GroupMemberAddress-@g.GroupID" type="text" class="form-control input-new_folder" placeholder=" Type new member..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        </div>
                                        <div class="col-1 no-gutters">
                                            <button onclick="AddUserToGroup(document.getElementById('GroupMemberAddress-@g.GroupID').value, @g.GroupID)" class="add-button">+</button>
                                        </div>
                                    </div>
                            </div>
                        }
                    </div>
                    <div class="row no-gutters container-title">
                        <div class="col-12">
                            <hr />
                                <div class="row">
                                    <div class="col-10 no-gutters">
                                        <input id="newGroupName" type="text" class="form-control input-new_folder" placeholder=" Type group name..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    </div>
                                    <div class="col-2 no-gutters">
                                        <button onclick="AddGroup(document.getElementById('newGroupName').value)" class="add-button">+</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">
                </div>
            </div>
        </div>
    </div>
</body>
