@model MailBox.Models.MailModels.MailInboxView

@{
    ViewData["Title"] = "View";
}

<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/data.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="bg-black">
    <div class="container-fluid text-white">
        <div class="row">
            <div id="foldersactions" class="col-2 no-float bg-dark-transparent">
            </div>
            <div class="col-8 no-float bg-dark-transparent text-white" id="mail_div">
                <div class="container bg-dark2">
                    <div class="row no-float no-gutters" style="padding-top: 5px; padding-bottom: 10px">
                        <button type="button" class="btn btn-secondary float-left" onclick="window.location='@Url.Action("Index", "mail")'">&#8592</button>
                    </div>
                    <hr />
                    <dl class="row text-white no-gutters">
                        <dt class="col-1">@Html.DisplayNameFor(model => model.Read)</dt>
                        <dt class="col-3">@Html.DisplayNameFor(model => model.Date)</dt>
                        <dt class="col-8">@Html.DisplayNameFor(model => model.Topic)</dt>
                    </dl>
                    <dl class="row text-white no-gutters">
                        <dd class="col-1">@Html.DisplayFor(model => model.Read)</dd>
                        <dd class="col-3">@Html.DisplayFor(model => model.Date)</dd>
                        <dd class="col-8">@Html.DisplayFor(model => model.Topic)</dd>
                    </dl>
                    <hr />
                    <dl class="row text-white no-gutters">
                        <dt class="col-3">Recipients</dt>
                        <dt class="col-1" style="border-left: 1px solid white"></dt>
                        <dt class="col-8">Text</dt>
                    </dl>
                    <hr />
                    <dl class="row no-gutters">
                        <dd class="col-3 text-white overflow-auto">
                            @foreach (var r in Model.RecipientsAddresses)
                            {
                                <label class="overflow-auto">@r</label><br />
                            }
                        </dd>
                        <dd class="col-1" style="border-left: 1px solid white"></dd>
                        <dd class="col-8 bg-white overflow-auto" style="color: black; padding: 5px; height: 300px; overflow-wrap: break-word">
                            @Html.DisplayFor(model => model.Text)          
                        </dd>
                    </dl>
                    <hr />
                    <div class="row no-gutters">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button type="submit" class="btn add-button float-right">download all attachments</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">
                </div>
            </div>
        </div>
    </div>
</body>