@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var mails = ViewData["Mails"] as List<MailBox.Models.MailModels.MailInboxView>;
    HashSet<string> dates = new HashSet<string>();
    foreach (var mail in mails) dates.Add(mail.Date.ToString("yyyyMMdd"));
}
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/inbox.js"></script>
</head>
<body class="bg-black">
    <div class="input-group mb-3 container-search">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-primary" type="button">Search</button>
        </div>
    </div>
    <div class="container-fluid text-white">
        <div class="row">
            <div id="foldersactions" class="col-2 no-float bg-dark-transparent">
            </div>
            <div class="col-8 no-float bg-dark-transparent" id="main_div">
                <div class="container bg-dark2 table-inbox" id="inbox_table" border="1">
                    <div class="row no-gutters">
                        <div class="col-2 no-gutters">
                            <a asp-action="sortbydate" class="bg-blue-button" style="height: 100%; width: 100%">Sort by date</a>
                        </div>
                        <div class="col-2 no-gutters">
                            <a asp-action="sortbytopic" class="bg-blue-button"  style="height: 100%; width: 100%">Sort by topic</a>
                        </div>
                        <div class="col-4 no-gutters"></div>
                        <div class="col-4 no-gutters" style="display: inline-block">
                            <div class="row">
                                <div class="col-8">
                                    <input id="topic_filter" placeholder=" Topic filter..." value="" style="height: 100%; width: 100%" />
                                </div>
                                <div class="col-4">
                                    <button class="bg-blue-button" style="width: 30%">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row no-gutters text-center">
                        <div class="col-2 no-gutters"><span>Date</span></div>
                        <div class="col-10 no-gutters">
                            <div class="row no-gutters">
                                <div class="col-1 no-gutters"><span>Read</span></div>
                                <div class="col-3 no-gutters"><span>Sender</span></div>
                                <div class="col-8 no-gutters"><span>Topic</span></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="mail_container" class="mail-list">
                        @foreach (var date in dates)
                        {
                            <div class="row no-gutters">
                                <div class="col-2">
                                    <button class="bg-blue-button" type="button" data-toggle="collapse" data-target="@($"#collapse{date}")" aria-expanded="false" aria-controls="@($"collapse{date}")">
                                        @($"{date.Substring(0,4)}-{date.Substring(4, 2)}-{date.Substring(6, 2)}")
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div class="row no-gutters collapse bg-dark card-body" style="padding: 28px 0 0 0" id="@($"collapse{date}")">
                                        @foreach (MailBox.Models.MailModels.MailInboxView item in mails)
                                        {
                                            if (item.Date.ToString("yyyyMMdd") == date)
                                            {
                                                <a asp-action="details" asp-route-id=@item.MailID class="col-12 no-gutters btn btn-secondary active" style="margin-bottom: 1px; text-decoration: none" role="button" aria-pressed="true">
                                                    <div class="row no-gutters" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray">
                                                        <div class="col-1 no-gutters">
                                                            <div class="form-check">
                                                                <input onchange="ChangeReadStatus(@(item.MailID),@(item.Read?"false":"true"))" class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." @(item.Read ? "checked" : "")>
                                                            </div>
                                                        </div>
                                                        <div class="col-3"><span>@($"{item.Sender.Name} {item.Sender.Surname}")</span></div>
                                                        <div class="col-8"><span>@(item.Topic)</span></div>
                                                    </div>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">
                </div>
            </div>
        </div>
    </div>
</body>
