@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    var mails = ViewData["Mails"] as List<MailBox.Models.MailModels.MailInboxView>;
    HashSet<string> dates = new HashSet<string>();
    foreach (var mail in mails) dates.Add(mail.Date.ToString("yyyyMMdd"));
    }
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/inbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/data.js"></script>
</head>
<body class="bg-black">
    <div>
        <a asp-action="Create">Create New</a>
    </div>
    <div class="input-group mb-3 container-search">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-primary" type="button">Search</button>
        </div>
    </div>
    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Folders</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">Inbox</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Sent</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Spam</button></div>
                    <div class="button-container"><button type="button" class="btn-folder">Stared</button></div>
                </div>
                <div class="row no-gutters container-board-white container-new" id="folders_container">
                    <div class="col-10 no-gutters">
                        <input type="text" class="form-control input-new_folder border-0" placeholder=" New folder..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-2 no-gutters">
                        <button class="bg-black text-light text-center border-0 btn-new" type="button">+</button>
                    </div>
                </div>
                <div><br /></div>
                <div class="container-title">
                    <h4>Actions</h4>
                    <hr />
                </div>
                <div>
                    <div class="button-container"><button type="button" class="btn-folder">New email</button></div>
                    <div class="button-container"><button onclick="GoToGroupManagement()" type="button" class="btn-folder">Manage groups</button></div>
                </div>
            </div>
            <div class="col-8 no-float bg-dark-transparent" id="main_div">
                <div class="container bg-dark2 table-inbox" id="inbox_table" border="1">
                    <div class="row no-gutters">
                        <div class="col-3 no-gutters">
                            <div class="row no-gutters">
                                <span>Date</span>
                            </div>
                        </div>
                        <div class="col-9 no-gutters">
                            <div class="row no-gutters">
                                <div class="col-1 no-gutters"><span>Read</span></div>
                                <div class="col-3 no-gutters"><span>Sender</span></div>
                                <div class="col-8 no-gutters"><span>Topic</span></div>
                            </div>
                        </div>
                    </div>
                    <div id="mail_container" class="mail-list">
                        @foreach (var date in dates)
                        {
                            <div class="row no-gutters">
                               <div class="col-3">
                                   <p>
                                       <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="@($"#collapse{date}")" aria-expanded="false" aria-controls="@($"collapse{date}")">
                                            @($"{date.Substring(0,2)}-{date.Substring(2, 2)}-{date.Substring(4, 4)}")
                                       </button>
                                   </p>
                               </div>
                               <div class="col-9">
                                   <div class="collapse bg-dark2" id="@($"collapse{date}")">
                                       <div class="card card-body bg-dark">
                                           @foreach (MailBox.Models.MailModels.MailInboxView item in mails)
                                           {
                                               if (item.Date.ToString("yyyyMMdd") == date)
                                               {
                                                   <div class="row no-gutters" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: gray; margin-top: 10px;">
                                                       <div class="col-1 no-gutters"><div class="form-check"><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." @(item.Read ? "checked" : "")></div></div>
                                                       <div class="col-3 no-gutters"><span>@($"{item.Sender.Name} {item.Sender.Surname}")</span></div>
                                                       <div class="col-8 no-gutters"><span>@(item.Topic)</span></div>
                                                   </div>
                                               }
                                           }
                                       </div>
                                   </div>
                               </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-2 no-float bg-dark-transparent">
                <div class="container-title">
                    <h4>Groups</h4>
                    <hr />
                </div>
                <div id="groupsPanel" class="container-groups overflow-auto">

                </div>
            </div>
        </div>
    </div>
</body>
